In [1]:
import pandas as pd

# Load the csv files
concepts_df = pd.read_csv('/workspaces/master_thesis/CONCEPT.csv', on_bad_lines='skip', sep='\t')
concept_synonyms_df = pd.read_csv('/workspaces/master_thesis/CONCEPT_SYNONYM.csv', on_bad_lines='skip', sep='\t')

/tmp/ipykernel_3741181/1727553608.py:4: DtypeWarning: Columns (6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  concepts_df = pd.read_csv('/workspaces/master_thesis/CONCEPT.csv', on_bad_lines='skip', sep='\t')

In [6]:
concepts_df.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,1146945,concept.concept_id,Metadata,CDM,Field,S,CDM1,20141111,20991231,NaN
1,1146954,concept.invalid_reason,Metadata,CDM,Field,S,CDM10,20141111,20991231,NaN
2,1147044,observation_period.observation_period_id,Metadata,CDM,Field,S,CDM100,20141111,20991231,NaN
3,756315,metadata.metadata_type_concept_id,Metadata,CDM,Field,S,CDM1000,20210925,20991231,NaN
4,756316,metadata.name,Metadata,CDM,Field,S,CDM1001,20210925,20991231,NaN

In [10]:
concepts_df.shape

(1242840, 10)

In [5]:
concept_synonyms_df.head() (36674184)

,concept_id,concept_synonym_name,language_concept_id
0,36674183,Goal Attainment Scaling-Light score,4180186
1,36674183,Goal Attainment Scaling-Light score (observabl...,4180186
2,36674184,Assessment using Goal Attainment Scaling-Light,4180186
3,36674184,Assessment using Goal Attainment Scaling-Light...,4180186
4,36674185,Burn of eye proper (disorder),4180186

In [15]:
concept_synonyms_df.language_concept_id.unique()

array([4180186, 4182503, 4181536, 4180190, 4182948, 4180183, 4182504,
       4181374, 4180047, 4182507, 4181524, 4175771, 4182511, 4175777])

In [11]:
concept_synonyms_df.shape

(1273479, 3)

In [16]:
#filter by language_concept_id = 4180186 (English)
concept_synonyms_df = concept_synonyms_df[concept_synonyms_df.language_concept_id == 4180186]

In [17]:
concept_synonyms_df.shape

(1255441, 3)

In [7]:
# Filter the concepts to only include standard concepts
standard_concepts_df = concepts_df[concepts_df['standard_concept'] == 'S']

In [9]:
standard_concepts_df.shape

(746318, 10)

In [22]:
#do a left join on concept_id to get all synonyms for each concept and keep id of the synonym too
standard_concepts_with_synonyms_df = standard_concepts_df.merge(concept_synonyms_df, left_on='concept_id', right_on='concept_id', how='left')

In [26]:
#check on the exampple of concept_id = 4329847
standard_concepts_with_synonyms_df[standard_concepts_with_synonyms_df.concept_id == 4329847]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,concept_synonym_name,language_concept_id
386261,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Cardiac infarction,4180186.0
386262,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Heart attack,4180186.0
386263,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Myocardial infarct,4180186.0
386264,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Myocardial infarction (disorder),4180186.0
386265,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Infarction of heart,4180186.0
386266,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,MI - myocardial infarction,4180186.0

In [27]:
# We now have a DataFrame with each standard concept and its synonyms
# Let's save out the pairs of concept and their synonyms to file with corresponding cocnept_id
standard_concepts_with_synonyms_df[['concept_id', 'concept_name', 'concept_synonym_name']].to_csv('standard_concepts_with_synonyms.csv', index=False)

In [28]:
standard_concepts_with_synonyms_df.shape

(963972, 12)