In [63]:
import pandas as pd

# Load the csv files
concepts_df = pd.read_csv('/workspaces/master_thesis/CONCEPT.csv', on_bad_lines='skip', sep='\t')
concept_synonyms_df = pd.read_csv('/workspaces/master_thesis/CONCEPT_SYNONYM.csv', on_bad_lines='skip', sep='\t')

/tmp/ipykernel_3741181/1727553608.py:4: DtypeWarning: Columns (6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  concepts_df = pd.read_csv('/workspaces/master_thesis/CONCEPT.csv', on_bad_lines='skip', sep='\t')

In [64]:
concepts_df.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,1146945,concept.concept_id,Metadata,CDM,Field,S,CDM1,20141111,20991231,NaN
1,1146954,concept.invalid_reason,Metadata,CDM,Field,S,CDM10,20141111,20991231,NaN
2,1147044,observation_period.observation_period_id,Metadata,CDM,Field,S,CDM100,20141111,20991231,NaN
3,756315,metadata.metadata_type_concept_id,Metadata,CDM,Field,S,CDM1000,20210925,20991231,NaN
4,756316,metadata.name,Metadata,CDM,Field,S,CDM1001,20210925,20991231,NaN

In [65]:
concepts_df.shape

(1242840, 10)

In [66]:
# Assuming your SNOMED dataframe is named as snomed_df
concepts_df = concepts_df.loc[concepts_df['domain_id'] != 'Metadata']

In [67]:
concepts_df.shape

(1238453, 10)

In [69]:
# Define the list of medical terminology domains
medical_domains = ['Condition', 'Drug', 'Measurement', 'Procedure', 'Observation']

# Filter the DataFrame
concepts_df = concepts_df[concepts_df['domain_id'].isin(medical_domains)]

In [70]:
concepts_df.domain_id.unique()

array(['Drug', 'Condition', 'Measurement', 'Observation', 'Procedure'],
      dtype=object)

In [71]:
concept_synonyms_df.head()

,concept_id,concept_synonym_name,language_concept_id
0,36674183,Goal Attainment Scaling-Light score,4180186
1,36674183,Goal Attainment Scaling-Light score (observabl...,4180186
2,36674184,Assessment using Goal Attainment Scaling-Light,4180186
3,36674184,Assessment using Goal Attainment Scaling-Light...,4180186
4,36674185,Burn of eye proper (disorder),4180186

In [72]:
concept_synonyms_df.language_concept_id.unique()

array([4180186, 4182503, 4181536, 4180190, 4182948, 4180183, 4182504,
       4181374, 4180047, 4182507, 4181524, 4175771, 4182511, 4175777])

In [73]:
concept_synonyms_df.shape

(1273479, 3)

In [74]:
#filter by language_concept_id = 4180186 (English)
concept_synonyms_df = concept_synonyms_df[concept_synonyms_df.language_concept_id == 4180186]

In [75]:
concept_synonyms_df.shape

(1255441, 3)

In [76]:
# Filter the concepts to only include standard concepts
standard_concepts_df = concepts_df[concepts_df['standard_concept'] == 'S']

In [77]:
standard_concepts_df.shape

(299903, 10)

In [78]:
#do a left join on concept_id to get all synonyms for each concept and keep id of the synonym too
standard_concepts_with_synonyms_df = standard_concepts_df.merge(concept_synonyms_df, left_on='concept_id', right_on='concept_id', how='inner')

In [79]:
#check on the exampple of concept_id = 4329847
standard_concepts_with_synonyms_df[standard_concepts_with_synonyms_df.concept_id == 4329847]

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,concept_synonym_name,language_concept_id
116981,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Cardiac infarction,4180186
116982,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Heart attack,4180186
116983,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Myocardial infarct,4180186
116984,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Myocardial infarction (disorder),4180186
116985,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,Infarction of heart,4180186
116986,4329847,Myocardial infarction,Condition,SNOMED,Clinical Finding,S,22298006,20020131,20991231,NaN,MI - myocardial infarction,4180186

In [80]:
standard_concepts_with_synonyms_df.shape

(491645, 12)

In [81]:
standard_concepts_with_synonyms_df

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason,concept_synonym_name,language_concept_id
0,4001098,Radiating chest pain,Condition,SNOMED,Clinical Finding,S,10000006,20020131,20991231,NaN,Radiating chest pain (finding),4180186
1,37392117,Urine tryptophan:creatinine ratio,Measurement,SNOMED,Observable Entity,S,1000001000000103,20160401,20991231,NaN,Urine tryptophan:creatinine ratio (observable ...,4180186
2,37398455,Urine threonine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,1000011000000101,20160401,20991231,NaN,Urine threonine:creatinine ratio (observable e...,4180186
3,37392118,Urine taurine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,1000021000000107,20160401,20991231,NaN,Urine taurine:creatinine ratio (observable ent...,4180186
4,37392119,Urine phenylalanine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,1000031000000109,20160401,20991231,NaN,Urine phenylalanine:creatinine ratio (observab...,4180186
...,...,...,...,...,...,...,...,...,...,...,...,...
491640,37398450,Urine homocysteine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,999951000000101,20160401,20991231,NaN,Urine homocysteine:creatinine ratio (observabl...,4180186
491641,37398451,Urine aspartate:creatinine ratio,Measurement,SNOMED,Observable Entity,S,999961000000103,20160401,20991231,NaN,Urine aspartate:creatinine ratio (observable e...,4180186
491642,37398452,Urine alanine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,999971000000105,20160401,20991231,NaN,Urine alanine:creatinine ratio (observable ent...,4180186
491643,37398453,Urine valine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,999981000000107,20160401,20991231,NaN,Urine valine:creatinine ratio (observable entity),4180186
491644,37398454,Urine tyrosine:creatinine ratio,Measurement,SNOMED,Observable Entity,S,999991000000109,20160401,20991231,NaN,Urine tyrosine:creatinine ratio (observable en...,4180186

In [59]:
standard_concepts_with_synonyms_df[standard_concepts_with_synonyms_df.concept_synonym_name==np.nan]

Empty DataFrame
Columns: [concept_id, concept_name, domain_id, vocabulary_id, concept_class_id, standard_concept, concept_code, valid_start_date, valid_end_date, invalid_reason, concept_synonym_name, language_concept_id]
Index: []

In [82]:
# We now have a DataFrame with each standard concept and its synonyms
# Let's save out the pairs of concept and their synonyms to file with corresponding cocnept_id
standard_concepts_with_synonyms_df[['concept_id', 'concept_name', 'concept_synonym_name']].to_csv('standard_concepts_with_synonyms.csv', index=False)