In [1]:
from build_graph import Builder

In [2]:
relations=Builder('C://Users/Nusha/Desktop/Passaustudying/fouth semester/master/master_thesis/snomed/CONCEPT_RELATIONSHIP.csv', 'C://Users/Nusha/Desktop/Passaustudying/fouth semester/master/master_thesis/snomed/CONCEPT.csv')

c:\Users\Nusha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
df=relations.get_dataframe()

c:\Users\Nusha\Desktop\Passaustudying\fouth semester\master\master_thesis\build_graph.py:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_merge_2=data_merge_2[data_merge_2.standard_concept_x=='S'][data_merge_2.standard_concept_y=='S']

In [7]:
import pandas as pd

In [9]:
df_concept=pd.read_csv('C://Users/Nusha/Desktop/Passaustudying/fouth semester/master/master_thesis/snomed/CONCEPT.csv', sep='\t')

c:\Users\Nusha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [22]:
df_myoc_rel=df[df.concept_id_1==4329847]

In [29]:
df_myoc_rel=df_myoc_rel[df_myoc_rel.index==446093]

In [30]:
df_myoc_rel

,concept_id_1,concept_name_x,concept_id_2,concept_name_y,relationship_id
446093,4329847,Myocardial infarction,4185932,Ischemic heart disease,Is a

In [15]:
df_synonym=pd.read_csv('C://Users/Nusha/Desktop/Passaustudying/fouth semester/master/master_thesis/snomed/CONCEPT_SYNONYM.csv', sep='\t')

In [32]:
df_myoc=df_synonym[df_synonym.concept_id==4329847]

In [35]:
df_myoc_rel

,concept_id_1,concept_name_x,concept_id_2,concept_name_y,relationship_id
446093,4329847,Myocardial infarction,4185932,Ischemic heart disease,Is a

In [37]:
new_df=pd.merge(left= df_myoc_rel, right=df_myoc, left_on='concept_id_1', right_on='concept_id', how='right')

In [40]:
new_df=new_df[['concept_id_1', 'concept_synonym_name', 'concept_id_2', 'concept_name_y']]

In [41]:
df_heart=df_synonym[df_synonym.concept_id==4185932]

In [42]:
df_heart

         concept_id               concept_synonym_name  language_concept_id
1041856     4185932            Ischaemic heart disease              4180186
1041857     4185932       IHD - Ischemic heart disease              4180186
1041858     4185932  Ischemic heart disease (disorder)              4180186
1041859     4185932      IHD - Ischaemic heart disease              4180186

In [43]:
new_df

,concept_id_1,concept_synonym_name,concept_id_2,concept_name_y
0,4329847,Cardiac infarction,4185932,Ischemic heart disease
1,4329847,Heart attack,4185932,Ischemic heart disease
2,4329847,Myocardial infarct,4185932,Ischemic heart disease
3,4329847,Myocardial infarction (disorder),4185932,Ischemic heart disease
4,4329847,Infarction of heart,4185932,Ischemic heart disease
5,4329847,MI - myocardial infarction,4185932,Ischemic heart disease

In [44]:
new_df=pd.merge(left= new_df, right=df_heart, left_on='concept_id_2', right_on='concept_id', how='right')

In [46]:
new_df=new_df[['concept_id_1', 'concept_synonym_name_x', 'concept_id_2', 'concept_synonym_name_y']]

In [47]:
new_df

,concept_id_1,concept_synonym_name_x,concept_id_2,concept_synonym_name_y
0,4329847,Cardiac infarction,4185932,Ischaemic heart disease
1,4329847,Heart attack,4185932,Ischaemic heart disease
2,4329847,Myocardial infarct,4185932,Ischaemic heart disease
3,4329847,Myocardial infarction (disorder),4185932,Ischaemic heart disease
4,4329847,Infarction of heart,4185932,Ischaemic heart disease
5,4329847,MI - myocardial infarction,4185932,Ischaemic heart disease
6,4329847,Cardiac infarction,4185932,IHD - Ischemic heart disease
7,4329847,Heart attack,4185932,IHD - Ischemic heart disease
8,4329847,Myocardial infarct,4185932,IHD - Ischemic heart disease
9,4329847,Myocardial infarction (disorder),4185932,IHD - Ischemic heart disease
10,4329847,Infarction of heart,4185932,IHD - Ischemic heart disease
11,4329847,MI - myocardial infarction,4185932,IHD - Ischemic heart disease
12,4329847,Cardiac infarction,4185932,Ischemic heart disease (disorder)
13,4329847,Heart attack,4185932,Ischemic heart disease (disorder)
14,4329847,Myocardial infarct,4185932,Ischemic heart disease (disorder)
15,4329847,Myocardial infarction (disorder),4185932,Ischemic heart disease (disorder)
16,4329847,Infarction of heart,4185932,Ischemic heart disease (disorder)
17,4329847,MI - myocardial infarction,4185932,Ischemic heart disease (disorder)
18,4329847,Cardiac infarction,4185932,IHD - Ischaemic heart disease
19,4329847,Heart attack,4185932,IHD - Ischaemic heart disease
20,4329847,Myocardial infarct,4185932,IHD - Ischaemic heart disease
21,4329847,Myocardial infarction (disorder),4185932,IHD - Ischaemic heart disease
22,4329847,Infarction of heart,4185932,IHD - Ischaemic heart disease
23,4329847,MI - myocardial infarction,4185932,IHD - Ischaemic heart disease

In [33]:
pd.merge(left= df_myoc, right=df_myoc, left_on=concept_id_1, right_on=concept_id, how='right')

NameError: name 'concept_id_1' is not defined